* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'lato', sans-serif;
    height: 100%;
}

.block1 {
    width: 100px;
    height: 100%;
    background-color: blueviolet;
    border: 2px solid #000;
    margin-bottom: 20px;
}

.block2 {
    width: 100px;
    height: 100%;
    background-color: red;
    border: 2px solid #000;
    margin-top: 20px;
}